*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Expletus-Sans";
    /*font-weight: 1000; */
    src: url("../fonts/ExpletusSans.ttf");
}
body{
    font-family: Expletus-Sans;
    background-color: white;
    user-select: none;
}
@media screen and (max-width:600px){
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
.nav-item {
  display: flex;
  align-items: center;
  height: 3rem;
}
.nav-link {
  margin-left: 0.8rem;
  font-size: 1.2rem;
  width: 65%;
  border-bottom: 1px solid rgba(0, 0, 0, .2)
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 1rem;
}
.head-title {
  letter-spacing: 1px;
}
header .right{
    display: flex;
    gap:0.5rem
}
.hamburger {
  display: block;
  cursor: pointer;
  margin-left: 0.5rem;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav-menu {
  position: fixed;
  left: -100%;
  top: 50px;
  gap: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1100;
  text-align: left;
  transition: 0.3s;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
.nav-menu.active {
  left: 0;
  padding: 1rem 0 0 1rem;
}
.head-title.active {
  opacity: .2;
}
header img{
    width: 28px;
    cursor: pointer;
}
.wrapper{
    margin: 0 auto;
    max-width: 310px;
}
.section-one, .section-two, .section-three{
    margin-bottom: 1.2rem;
}
.section-one .title{
     color:rgb(131, 124, 124);
     margin: 0.3rem 0;
     font-weight: 556;
}
.section-one .flex-wrap{
    display: flex;
    flex-direction: column;
    gap:0.3rem
}
.section-one .flex-wrap .flex{
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
}
.section-one .flex-wrap .flex .first{
    color:rgb(131, 124, 124);
    font-weight: 556;
}
.section-one .flex-wrap .flex .second{
    font-weight: 557;
}
.second-head{
    margin: 0.4rem 0;
}
.section-two .content{
    color:rgb(131, 124, 124);
    font-weight: bold;
}
.select-account{
    display: flex;
    gap:0.7rem;
    border: 1px solid rgb(131, 124, 124);
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    border-radius: 0.1rem;
}
.selected-acc{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(131, 124, 124);
    background:rgb(160, 153, 153);
    padding: 0.5rem 1.4rem;
    margin-top: 0.6rem;
    cursor: pointer;
    border-radius: 0.1rem;
}
.section-three{
    border: 1px solid rgb(141, 137, 137);
    margin-top:0.7rem;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
}
.section-three .title{
    text-align: center;
    margin:0.4rem 0;
}
.section-three .flex{
    display: flex;
    align-items: flex-start;
    gap:0.2rem;
    margin-bottom: 0.5rem;
}
.section-three .flex .right p{
    color:rgb(110, 107, 107);
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 0.4rem;
}
.btn button{
    width:100%;
    padding:0.4rem 0.8rem;
    border: none;
    color: white;
    background: green;
    cursor: pointer;
    border-radius: 0.3rem;
}
}