*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Expletus-Sans";
    /*font-weight: 1000; */
    src: url("../fonts/ExpletusSans.ttf");
}
body, button{
    font-family: Expletus-Sans;
    background-color: white;
    user-select: none;
}
@media screen and (max-width:600px){
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
.nav-item {
  display: flex;
  align-items: center;
  height: 3rem;
}
.nav-link {
  margin-left: 0.8rem;
  font-size: 1.2rem;
  width: 65%;
}
.nav-item:not(:last-child) .nav-link {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 0 0 .7rem 0;
  margin-top: 1rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1100;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  margin: 0;
}
#close {
  font-size: 1.5rem;
  cursor: pointer;
}
.head img:first-child {
  width: 25px;
  margin: 0 1rem 0 1rem;
}
.head img:last-child {
  width: 20px;
}
.head-title {
  letter-spacing: 1px;
  font-size: 1.2rem;
  margin-right: -1rem;
}
header .right{
    display: flex;
    gap:0.5rem;
}
.hamburger {
  display: block;
  cursor: pointer;
  margin-left: 0.5rem;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav-menu {
  position: fixed;
  left: -100%;
  top: 50px;
  gap: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1100;
  text-align: left;
  transition: 0.3s;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
.nav-menu.active {
  left: 0;
  padding: 1rem 0 0 1rem;
}
header img{
    width: 28px;
    cursor: pointer;
}
.main {
  width: 100%;
  background-color: #D9D9D9;
  padding: .5rem 0;
}
.official-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 54%;
  padding: .1rem .5rem;
  border-radius: 1rem;
  border: none;
  background-color: rgba(250, 250, 250, .5);
  margin: 3.8rem auto .8rem auto;
}
.official-text p {
  font-size: .6rem;
  font-weight: bold;
}
.official-text img {
  width: 1.2rem;
}

.chat-bubble {
  width: 47%;
  background: #fff;
  padding: .3rem;
  border-radius: 0 .3rem .3rem .3rem;
  margin-left: 2.2rem;
  position: relative;
}
.chat-bubble:before {
  content: "";
  background: #fff;
  width: 1rem;
  height: 1.2rem;
  position: absolute;
  left: -1rem;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%)
}
.sender-container {
  display: flex;
  align-items: center;
}
.sender-container p {
  font-size: .6rem;
  font-weight: bolder;
  margin: 0 .2rem .2rem 0;
}
.image-container {
  width: 100%;
  height: 7rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 100%;
}
.content-title {
  font-size: .65rem;
  margin: .3rem 0;
}
.content-text {
  font-size: .53rem;
  position: relative;
}
.content-text:not(:last-child) {
  margin: 0 0 .3rem 0;
}
.content-text:last-child {
  padding: 0 0 2rem 0;
}
.content-text:last-child:after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: rgba(0, 0, 0, .1);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 15%;
}
.copy-link {
  font-size: .7rem;
  margin: .5rem auto;
  text-align: center;
}

.date {
  padding: .2rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: rgba(250, 250, 250, .5);
  margin: 1rem auto;
  font-size: .6rem;
  font-weight: bold;
  width: fit-content;
}
}