*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: "Expletus-Sans";
  src: url("../fonts/ExpletusSans.ttf")
}
@font-face {
  font-family: "Expletus-Sans-Light";
  src: url("../fonts/ExpletusSans.ttf")
}
body{
    font-family: Expletus-Sans;
    background-color: white;
}
button {
  font-family: Expletus-Sans-Light;
}
@media screen and (max-width: 800px){
li {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
.nav-item {
  display: flex;
  align-items: center;
  height: 3rem;
}
.nav-link {
  margin-left: 0.8rem;
  font-size: 1.2rem;
  width: 65%;
}
.nav-item:not(:last-child) .nav-link {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 0 0 .7rem 0;
  margin-top: 1rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 1rem;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin: 0;
}
#close {
  font-size: 1.5rem;
  cursor: pointer;
}
.head-title {
    letter-spacing: 1px;
    opacity: .2;
}
header .right{
    display: flex;
    gap:0.5rem;
}
.hamburger {
  display: block;
  cursor: pointer;
  margin-left: 0.5rem;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.nav-menu {
  position: fixed;
  left: -100%;
  top: 50px;
  gap: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1100;
  text-align: left;
  transition: 0.3s;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
.nav-menu.active {
  left: 0;
  padding: 1rem 0 0 1rem;
}
header img{
    width: 28px;
    cursor: pointer;
}
.main {
  width: 80%;
  margin: 0 auto;
}
.amount-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1.3px solid rgba(0, 0, 0, .8);
  border-radius: 1rem;
  padding: .5rem;
  margin-top: 2rem;
}
.reward-text {
  font-size: 1.3rem;
  margin-bottom: 1.1rem;
}
.total-amount {
  display: flex;
  align-items: center;
  margin-bottom: 1.1rem;
}
.total-amount p {
  font-size: 1.3rem;
  margin-right: .2rem;
}
.total-amount img {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: .2rem;
}
.monthly-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  background: #329832;
  padding: .1rem .3rem;
  color: #fff;
  border-radius: .3rem;
  margin-bottom: .4rem;
}
.cash-ref-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.cashback, .referral {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .5rem 1.8rem;
  position: relative;
}
.cashback:after {
  content: "";
  width: 96%;
  height: 1px;
  position: absolute;
  background: rgba(0, 0, 0, .1);
  left: .3rem;
  bottom: -.2rem;
}
.bx-chevron-right {
  font-size: 1.1rem;
  color: #329832;
}
}