*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
@media screen and (max-width:600px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.8rem 1rem;
    }
    header .flex{
        color: rgb(187, 184, 184);
        display: flex;
        flex-direction: column;
        gap:0.3rem
    }
    header .right{
        display: flex;
        gap:0.5rem
    }
    header img{
        width: 30px;
        object-fit: cover;
        cursor: pointer;       
    }
    .flex-wrap{
        margin: 1rem ;
    }
    .flex-wrap .flex{
        display: flex;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        gap:0.7rem
    }
    .flex .text{
        color: rgb(187, 184, 184);
    }
    .flex .active{
        color: black;
        font-weight: bold;
    }
}